<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281317786781-sns1ne5tfnj9sovfnja8gjulggo5tr0u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281317786781-sns1ne5tfnj9sovfnja8gjulggo5tr0u</string>
	<key>API_KEY</key>
	<string>AIzaSyBuViMGunyL3dyv2u_xuDrgcYVZX1I8SRE</string>
	<key>GCM_SENDER_ID</key>
	<string>281317786781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.effectivecode.FirebaseNotesApp</string>
	<key>PROJECT_ID</key>
	<string>fir-notesapp-4534b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-notesapp-4534b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281317786781:ios:d0aa826e2a321acfae8074</string>
	<key>DATABASE_URL</key>
	<string>https://fir-notesapp-4534b.firebaseio.com</string>
</dict>
</plist>