<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150230298875-0f8v68elto00f2i318kfa66ccto4ofr6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150230298875-0f8v68elto00f2i318kfa66ccto4ofr6</string>
	<key>API_KEY</key>
	<string>AIzaSyCFJspiv8ecHQfcqT4rnYYaSHE_QJyaVAA</string>
	<key>GCM_SENDER_ID</key>
	<string>150230298875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.effectivecode.FirebaseGoogleLoginApp</string>
	<key>PROJECT_ID</key>
	<string>fir-loginapp-1ee8c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-loginapp-1ee8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150230298875:ios:986a2c001200b975fb005e</string>
	<key>DATABASE_URL</key>
	<string>https://fir-loginapp-1ee8c.firebaseio.com</string>
</dict>
</plist>